@import "../../../style/Helper/mixin";

#changePassword {
    .changePassword__title {
        margin-bottom: 12px;
        @include styleText(#282739, 22px, 700, 33px);
    }
    .changePassword__fromTop {
        margin-bottom: 16px;
    }
    .changePassword__fromBottom {
        margin-bottom: 48px;
    }
    label {
        @include styleText(#37474F, 18px, 400, 27px);
    }
}