@import "../../../style/Helper/mixin";

#detailService {
    .detailService__bottom {
        height: 604px;
        margin-bottom: 50px;
        .detailService__colLeft {
            padding-right: 12px!important;
            .content--padding--block {
                padding: 16px;
                .detailService__infoService {
                    .detailService__info {
                        margin-bottom: 16px;
                        .detailService__infoTitle {
                            @include styleText(#282739, 16px, 600, 24px);
                        }
                        .detailService__infoText {
                            @include styleText(#535261, 16px, 400, 24px);
                        }
                    }
                }
            }
        }
        .detailService__colRight {
            padding-left: 12px!important;
            .content--padding--block {
                padding: 16px;
                .detailService__table {
                    margin-top: 16px;
                }
            }
        }
    }


    .input-selectActive {
        width: 160px!important;
    }
    .input-selectDate {
        width: 280px!important;
    }
    .input-search {
        width: 206px!important;
    }
}