@import "../../../style/Helper/mixin";

#deviceDetail {
    .deviceDetail__bottom {
        height: 604px;
        margin-bottom: 50px;
        .deviceDetail__info {
            margin-bottom: 16px;
        }
        .deviceDetail__infoTitle {
            @include styleText(#282739, 16px, 600, 24px);
        }
        .deviceDetail__infoText {
            @include styleText(#535261, 16px, 400, 24px);
        }
    }
}