@import "../../style//Helper/mixin";

#dashBoardTemplate {
    .dashBoardTemplate__sider {
        .ant-layout-sider-children {
            background-color: #fff;
            .ant-menu {
                background-color: #fff;
                color: #7e7d88;
                .ant-menu-submenu {
                    padding: 0 !important;
                    color: #7e7d88;
                    margin-bottom: 8px;
                    .ant-menu-submenu-title {
                        padding: 0 !important;
                        &:hover {
                            color: #7e7d88;
                        }
                        .ant-menu-title-content {
                            background-color: white !important;
                            a {
                                display: inline-block;
                                width: 100%;
                                padding-left: 24px;
                            }
                        }
                        .ant-menu-submenu-arrow {
                            display: none;
                        }
                    }
                }
                .ant-menu-item {
                    padding: 0 !important;
                    .ant-menu-title-content {
                        a {
                            display: inline-block;
                            width: 100%;
                            padding-left: 24px;
                        }
                    }
                }
                .ant-menu-item-selected {
                    background-color: transparent;
                }
            }
            .dashBoardTemplate__logo {
                margin-bottom: 65px;
                margin-top: 32px;
                img {
                    width: 79px;
                    height: 53px;
                }
            }
            .dashBoardTemplate__button {
                margin-bottom: 30px;
                .button--orange--light {
                    .dashBoardTemplate__buttonImg {
                        width: 10px;
                        margin-left: 14px;
                    }
                    .dashBoardTemplate__buttonText {
                        padding-right: 56px;
                        margin-left: 12px;
                    }
                }
            }
        }
    }

    .site-layout {
        background: rgba(255, 255, 255, 0.3);
        .dashBoardTemplate__header {
            .dashBoardTemplate__notifi {
                width: 20px;
                height: 20px;
                margin-right: 24px;
            }
            .dashBoardTemplate__headerNavigate {
                cursor: pointer;
                margin-right: 64px;
                .dashBoardTemplate__avatar {
                    width: 40px;
                    height: 40px;
                    margin-right: 8px;
                    border-radius: 50%;
                }
                .dashBoardTemplate__profileText {
                    .dashBoardTemplate__hello {
                        @include styleText(#7e7d88, 12px, 400, 18px);
                        margin-bottom: 0;
                    }
                    .dashBoardTemplate__name {
                        @include styleText(#535261, 16px, 700, 24px);
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.ant-menu-submenu {
    padding: 0 !important;
    color: #7e7d88;
    margin-bottom: 8px;
    border-bottom-right-radius: 12px!important;
    border-top-right-radius: 12px!important;
    .ant-menu {
        background-color: white !important;
        border-bottom-right-radius: 12px!important;
        border-top-right-radius: 12px!important;
        .ant-menu-item {
            margin: 0;
            padding: 0 !important;
            background-color: white !important;
            &:first-child {
                border-top-right-radius: 12px;
            }
            &:last-child {
                border-bottom-right-radius: 12px;
            }
            .ant-menu-title-content {
                a {
                    display: inline-block;
                    width: 100%;
                    padding-left: 24px;
                }
            }
            .ant-menu-submenu-arrow {
                display: none;
            }
        }
        .ant-menu-item-selected {
            background-color: transparent;
        }
    }
}
