@import '../../style//Helper/mixin';

#userLogin-template {
    .userLogin-template__left {
        background-color: #EAEAEC;
        padding-top: 82px;
        .userLogin-template__outlet {
            width: 400px;
            .userLogin-template__Logo {
                margin-bottom: 98px;
                width: 200px;
                height: 200px;
            }
        }
    }
    .userLogin-template__right {
        position: relative;
        .userLogin-template__right-img {
            margin-top: 82px;
            .userLogin-template__img {
                padding-left: 79px;
                width: 605px;
                height: 614px;
            }
            .userLogin-template__text {
                position: absolute;
                left: 464px;
                top: 407px;
                white-space: nowrap;
                .userLogin-template__textlight {
                    @include styleText(#FF7506, 34px, 400, 51px);
                }
                .userLogin-template__textbold {
                    @include styleText(#FF7506, 36px, 900, 54px);
                }
            }
        }
    }
}
