@import '../Helper/mixin';

.button--orange {
    @include styleButton(#FFFFFF, #FF9138, 16px, 700, 24px, 8px, 40px, 8px, none);
    &:focus {
        outline: none;
    }
}

.button--ouline--orange {
    @include styleButton(#FF9138, transparent, 16px, 700, 24px, 8px, 51px, 8px, 1px solid #FF9138);
    &:focus {
        outline: none;
    }
}

.button--orange--light {
    @include styleButton(#FF7506, #FFF2E7, 16px, 600, 24px, 12px, 0, 8px, none);
    &:focus {
        outline: none;
    }
}

.button--orange--light--border {
    @include styleButton(#FF7506, #FFF2E7, 16px, 700, 24px, 8px, 51px, 8px, 1.5px solid #FF9138);
    &:focus {
        outline: none;
    }
}

.button--blue {
    @include styleButton(#4277FF, transparent, 14px, 400, 21px, 0, 0, 0, none);
    text-decoration: underline;
    &:focus {
        outline: none;
    }
}

//button thêm sửa
.button--addUpdate {
    margin-top: 88px;
    width: 80px;
    height: 94px;
    background: #fff2e7;
    box-shadow: 0px 0px 6px #e7e9f2;
    border-radius: 8px 0px 0px 8px;
    .button--addUpdateContent {
        div {
            margin-top: 12px;
            .button--addUpdateLink {
                border: none;
                border-radius: 8px;
                font-size: 20px;
                width: 28px;
                height: 28px;
            }
        }
        .button--addUpdateText {
            @include styleText(#ff7506, 14px, 600, 19px);
            width: 72px;
            height: 38px;
            margin-top: 4px;
        }
    }
}