#addDevice {
    .ant-select-selection-overflow {
        .ant-select-selection-overflow-item {
            .ant-select-selection-item {
                background-color: #ffac6a;
                color: white;
                box-shadow: 0px 0px 6px #e7e9f2;
                border-radius: 9px;
            }
            .ant-select-selection-item-remove {
                color: white;
            }
        }
    }
}