body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Nunito", sans-serif;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4 {
  margin-bottom: 0;
}

.text--titleDashboard {
  color: #ff9138;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 0;
}

.text--titleBottom {
  color: #ff7506;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 0;
  margin: 16px 0;
}

.text--title--small {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #ff7506;
  margin-bottom: 20px;
  padding: 0 15px;
}

.content--padding--block {
  padding: 16px 9px;
  background-color: white;
  box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
  border-radius: 16px;
}

.padding-title {
  padding: 29px 0;
}

.container-page {
  margin-left: 24px;
}

button {
  &:focus {
    outline: none;
  }
}
