@import "../../../style/Helper/mixin";

#positionManagement {
    .positionManagement__bottom {
        .positionManagement__input {
            margin-top: 4px;
            .ant-select-selector {
                @include styleText(#535261, 16px, 400, 24px);
                height: 44px;
            }
        }
        .positionManagement__table {
            margin-top: 16px;
            .positionManagement__tableLayout {
                filter: drop-shadow(2px 2px 8px rgba(232, 239, 244, 0.8));
            }
        }
    }
}

.formService {
    .ant-select-selection-overflow {
        .ant-select-selection-overflow-item {
            .ant-select-selection-item {
                background-color: #ffac6a;
                color: white;
                box-shadow: 0px 0px 6px #e7e9f2;
                border-radius: 9px;
            }
            .ant-select-selection-item-remove {
                color: white;
            }
        }
    }
    .formInput__bottom {
        .formInput__bottomGroupInput {
            .addService__inputDes {
                height: 140px !important;
                resize: none;
            }
        }
        .formService__number {
            .formInput__list {
                background-color: #fff2e7;
                border-radius: 8px;
                margin-top: 8px;
                padding-top: 16px;
                padding-left: 24px;
                .formInput__checkboxTitle {
                    @include styleText(#ff7506, 20px, 700, 30px);
                    margin-bottom: 12px;
                }
                .formService__checkbox {
                    margin-bottom: 16px;
                    .formService__checkboxBox {
                        @include styleText(#282739, 16px, 600, 24px);
                    }
                }
                .rc-virtual-list {
                    .rc-virtual-list-scrollbar {
                        .rc-virtual-list-scrollbar-thumb {
                            width: 4px !important;
                            height: 85px !important;
                            background-color: #ffc89b !important;
                            border-radius: 8px !important;
                        }
                    }
                }
            }
        }
    }
}
